*{
    margin:0;
    padding: 0;
}

.body{
    font-family: "Roboto","Arial",sans-serif;
}

.bodycontent{
    font-family: "YouTube Sans","Roboto","Arial",sans-serif;
}

.flex{
    display: flex;
}

.width{
    width: 24px;
}

.pointer{
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: black;
}

.header{
    padding-left: 20px;
    position: fixed;
    background-color: white;
}

.menu{
    margin-right: 20px;
}

.menuicon{
    max-width: 29px;
    padding-top: 14px;
}

.ytblogo{
    padding-top: 5px;
    max-width: 95px;
}

.ytbin{
    font-size: 10px;
    padding-top: 15px;
}

.ytbsearch{
    width: 520px;
    border: none;
    font-size: 15px;
    padding: 5px 0px;
    margin: 3px 0px 3px 15px;
}

.headerMiddle{
    margin-left: 175px;
}

.search{
    border: 1px solid rgb(191, 191, 191);
    border-radius: 20px;
    margin: 10px 0px;
}

.searchicon{
    padding: 3px 15px 0px 15px;
    border-left: 1px solid rgb(191, 191, 191);
    background-color: rgb(242, 242, 242);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ytb{
    width: 30px;
    padding-top: 3px;
}

.voice{
    margin: 14px 5px 15px 13px;
    padding: 4px;
    border-radius: 40px;
    background-color: rgb(242, 242, 242);
}

.mic{
    padding: 1px;
}

.searchicon:hover{
    background-color: rgb(217, 217, 217);
}

.voice:hover{
    background-color: rgb(217, 217, 217);
}

.headerRight{
    align-items: center;
    margin-left: 180px;
}

.create{
    margin-right: 20px;
}

.notification{
    margin-right: 32px;
}

.letter{
    padding: 7px 10px;
    color: white;
    background-color: rgb(191,54,12);
    border-radius: 30px;
}

.mainbody{
    padding-top: 59px;
}

.sidebar{
    margin-left: 12px;
    width: 215px;
}

.text{
    font-size: 14px;
    padding: 5px 0px 0px 25px;
}

.padding{
    padding: 10px;
}

.set{
    border-bottom: 1px solid rgb(217, 217, 217);
    padding: 10px 0px 14px 0px;
}

.home:hover{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
}

.admin:hover{
    background-color: rgb(242, 242, 242); 
}

.selected{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    font-weight: bold;
}

.red{
    background-color: rgb(255, 51, 51);
    width: 470px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.signinset{
    width: 460px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 230, 230);
}

.signintext{
    font-family: cursive; 
}

.logintxt{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: cursive;
    color: rgb(255, 51, 51);
}

.signinform{
    margin: 70px 0px 0px 55px;
}

.loginform{
    padding: 10px;
    font-size: 17px;
}

.inputlogin{
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 7px;
    width: 325px;
}

.submit{
    color: white;
    background-color: rgb(255, 51, 51);
    width: 325px;
    padding: 10px;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}

.optional{
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}

.redicon{
    width: 140px;
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 15px; 
}

.signupimg{
    width: 470px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.signupset{
    width: 480px;
    margin: 50px;
}

.signuptxt{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.inputform{
    font-size: 14px;
    padding: 5px;
    border-style: none none solid none;
    border-width: thin;
    width: 380px;
    margin-bottom: 10px;
    border-color: gainsboro;
}

.register{
    width: 380px;
    color: white;
    background-color: rgb(255, 51, 51);
    padding: 10px;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}

.colorred{
    color: red;
}

.error{
    font-size: 12px;
    padding: 3px 0px;
    color: red;
    visibility: hidden;
}

.redimg{
    padding-left: 5px;
}

.bagdimg{
    margin: 0px 0px 20px 50px;
    border-radius: 50px;
}

.title{
    padding: 10px;
}

.content{
    margin-left: 25px;
}

.list{
    padding: 10px 0px 12px 0px;
    width: 1065px;
    background-color: white;
    /* position: fixed; */
}

.all{
    margin-right: 10px;
    padding: 8px 15px;
    background-color: rgb(242,242,242);
    border-radius: 10px;
}

.align{
    font-size: 14px;
    line-height: 1.4;
    padding: 10px 0px 0px 10px;
}

.size{
    font-size: 14px;
}

.sub{
    border-radius: 22px;
}

.right{
    border: 1px solid rgb(242, 242, 242);
    padding: 5px 10px;
    width: 95px;
    border-radius: 20px;
}

.rightalign{
    margin-left: 20px;
}

.adminheader{
    padding: 5px 0px 0px 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 4px 1px rgb(231 231 231);
}

.side{
    margin: 15px 0px 5px 10px;
}

.signin{
    color: rgb(8, 112, 247);
    font-size: 14px;
    padding: 3px 0px 0px 5px;
}

.rightcreate{
    border: 1px solid rgb(242, 242, 242);
    padding: 0px 10px;
    width: 100px;
    margin-right: 15px;
}

.adminheadmid{
    margin-left: 335px;
}

.adminsrth{
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    margin: 10px 0px;
}

.msg{
    font-size: 13px;
    margin: 10px 9px;
}

.ytbadmin{
    font-weight: bold;
    font-size: 14px;
    width: 500px;
    border: none;
    padding: 5px 0px;
    margin: 3px 0px 3px 15px;
}

.help{
    padding-right: 15px;
}

.ytbsrth{
    width: 28px;
    padding: 3px 0px 0px 10px;
}

.adminmainbody{
    padding-top: 60px;
}

.adminsidebar{
    width: 255px;
    border-right: 1px solid rgb(231,231,231);
}

.spanletter{
    width: 117px;
    border: none;
    border-radius: 60px;
    font-size: 56px;
    color: white;
    padding: 17px 26px;
    background-color: rgb(191,54,12);
}

.yours{
    font-size: 13px;
    padding: 15px 0px 10px 15px;
    font-weight: bold;
}

.createwidth{
    padding: 8px 0px;
}

.username{
    padding-left: 15px;
}

.textsize{
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0px 0px 20px;
    color: dimgray;
}

.setone{
    margin-left: 75px;
    padding-top: 25px;
}

.listcontent{
    padding: 10px;
}

.selectcomment{
    border-style: none none none solid;
    border-color: red;
    border-width: 5px;
    background-color: rgb(242, 242, 242);
}

.comments{
    margin-left: 20px;
}

.textcont{
    color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0px 0px 20px;
}

.contcomments{
    margin-left: 15px;
}

.headertext{
    font-size: 19px;
    margin-bottom: 20px;
}

.textcontent{
    padding: 20px 0px 0px 30px;
    width: 1055px;
    border-bottom: 1px solid rgb(231,231,231);
}

.font{
    font-size: 13px;
}

.color{
    color: dimgray;
}

.bold{
    font-weight: bold;
    padding-left: 20px;
}

.videos{
    font-size: 14px;
    font-weight: bold;
    color:rgb(1, 105, 194);
    padding: 10px 0px 13px 0px;
    border-bottom: 3px solid rgb(8, 112, 247);
    width: 47px;
}

.filterset{
    padding: 15px 0px 10px 30px;
    border-bottom: 1px solid rgb(231,231,231);
}

input:focus{
    outline: none;
}

.filter{
    border: transparent;
    padding-top: 3px;
    font-size: 15px;
}

.setimg{
    width: 51px;
    padding-right: 25px;
}

table{
    border-collapse: collapse;
}

.video{
    width: 1090px;
}

tr.conttr{
    border-bottom: 1px solid rgb(231,231,231);
}

.tablepadding{
    padding: 10px 0px;
}

.checkbox{
    column-width: 460px;
    border-right: 1px solid rgb(231,231,231);
}

.check{
    margin: 0px 20px 0px 30px;
}

.listtd{
    column-width: 130px;
}

.nocontent{
    margin: 45px 0px 50px 470px;
}

.notavailable{
    font-size: 15px;
    padding: 10px 0px 0px 35px;
    color: dimgray;
}

.upload{
    padding: 10px 0px 10px 33px;
}

.uploadfile{
    padding: 8px 13px;
    background-color:rgb(8, 112, 247);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: transparent;
}

.modalhead{
    position: relative;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(231,231,231);
}

.closemodal{
    position: absolute;
    right: 30px;
}

.uploadvideos{
    font-weight: bold;
    font-size: 19px;
    padding-left: 20px;
}

.feedback{
    margin-right: 20px;
    padding-top: 4px;
}

.close{
    font-size: 20px;
}

.closetitle{
    text-decoration: none;
}

.uploadimage{
    width: 135px;
    margin: 100px 0px 30px 380px;
    background-color: rgb(242, 242, 242);
    border-radius: 75px;
}

.uploadimage img{
    padding: 36px 32px 35px 37px;
}

.dragordrop{
    text-align: center;
}

.drag{
    font-size: 14px;
}

.private{
    font-size: 13px;
    color:rgb(144, 144, 144);
}

.selectfile{
    text-align: center;
}

.videofile{
    padding: 8px 15px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    background-color:rgb(8, 112, 247);
    font-size: 13px;
}

.uploadbottom{
    text-align: center;
    color: rgb(144, 144, 144);
    font-size: 12px;
    margin-top: 80px;
    padding-bottom: 30px;
    line-height: 2;
}

.blue{
    color: rgb(8, 112, 247);
}

.displaytext{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.displaytext .display{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.displaytext .display::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.displaytext:hover .display{
    visibility: visible;
    opacity: 1;
}