*{
    margin:0;
    padding: 0;
}

.body{
    font-family: "Roboto","Arial",sans-serif;
}

.bodycontent{
    font-family: "YouTube Sans","Roboto","Arial",sans-serif;
}

.flex{
    display: flex;
}

.width{
    width: 24px;
}

.pointer{
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: black;
}

.decoration{
    text-decoration: none;
}

.header{
    z-index: 1;
    padding-left: 20px;
    position: fixed;
    background-color: white;
}

.menu{
    margin-right: 20px;
}

.menuicon{
    max-width: 29px;
    padding-top: 25px;
}

.ytblogo{
    padding-top: 15px;
    max-width: 97px;
}

.ytbin{
    font-size: 10px;
    padding-top: 23px;
}

.ytbsearch{
    width: 525px;
    border: none;
    font-size: 15px;
    padding: 7px 0px;
    margin: 3px 0px 3px 18px;
}

.headerMiddle{
    margin-left: 180px;
}

.search{
    border: 1px solid rgb(191, 191, 191);
    border-radius: 20px;
    margin: 12px 0px;
}

.searchicon{
    padding: 3px 15px 0px 15px;
    border-left: 1px solid rgb(191, 191, 191);
    background-color: rgb(242, 242, 242);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ytb{
    width: 29px;
    padding-top: 1px;
}

.voice{
    margin: 14px 5px 15px 13px;
    padding: 4px;
    border-radius: 40px;
}

.mic{
    padding: 1px;
}

.searchicon:hover{
    background-color: rgb(217, 217, 217);
}

.voice:hover{
    background-color: rgb(217, 217, 217);
}

.headerRight{
    align-items: center;
    margin-left: 160px;
}

.create{
    padding: 6px;
}

.upvideo{
    border-radius: 12px;
}

.videodiv{
    width: 200px;
}

.createupload{
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.createupload .popup{
    display: none;
    width: 185px;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 1;
    top: 45px;
    right: 0px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    padding: 10px 0px;
}

.createupload .show{
    display: block;
}

.videocreate{
    padding: 8px 21px 8px 25px;
    font-size: 15px;
}

.videocreate:hover{
    background-color: rgb(242, 242, 242);
}

.createbutton{
    border: none;
    background-color: white;
}

.uploadarrow{
    margin: 0px 15px 10px 0px;
    padding-top: 4px;
    width: 24px;
}

.notification{
    margin-right: 25px;
    padding: 5px;
}

.letter{
    padding: 8px 11px;
    color: white;
    background-color: rgb(191,54,12);
    border-radius: 30px;
}

.mainbody{
    padding-top: 65px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 5px;
}

.sidebar{
    margin-left: 12px;
    width: 225px;
}

.sidescroll:hover{
    display: block;
    overflow: auto;
    height: 598px;
}

.sidescroll::-webkit-scrollbar{
    width: 8px;
}

.sidescroll::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 5px;
}

.text{
    font-size: 14px;
    padding: 5px 0px 0px 25px;
}

.padding{
    padding: 10px;
}

.black{
    background-color: black !important;
    color: white;
}

.set{
    border-bottom: 1px solid rgb(217, 217, 217);
    padding: 10px 10px 14px 0px;
    width: 205px;
}

.home:hover{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
}

.admin:hover{
    background-color: rgb(242, 242, 242); 
}

.selected{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
}

.red{
    background-color: rgb(255, 51, 51);
    width: 470px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.signinset{
    width: 480px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 230, 230);
}

.signintext{
    font-family: cursive; 
}

.logintxt{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: cursive;
    color: rgb(255, 51, 51);
}

.signinform{
    margin: 70px 0px 0px 70px;
}

.loginform{
    padding: 10px;
    font-size: 17px;
}

.inputlogin{
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 7px;
    width: 325px;
}

.signupmodal{
    border-radius: 30px; 
    margin-bottom: 30px; 
}

.submit{
    color: white;
    background-color: rgb(255, 51, 51);
    width: 325px;
    padding: 10px;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}

.optional{
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}

.redicon{
    width: 140px;
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 15px; 
}

.signupimg{
    width: 470px;
    min-height: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.signupset{
    width: 480px;
    margin: 50px;
}

.signuptxt{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.inputform{
    font-size: 14px;
    padding: 5px;
    border-style: none none solid none;
    border-width: thin;
    width: 380px;
    margin-bottom: 10px;
    border-color: gainsboro;
}

.register{
    width: 380px;
    color: white;
    background-color: rgb(255, 51, 51);
    padding: 10px;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}

.colorred{
    color: red;
}

.error{
    font-size: 12px;
    padding: 3px 0px;
    color: red;
    visibility: hidden;
}

.redimg{
    padding-left: 5px;
}

.bagdimg{
    margin: 0px 0px 20px 50px;
    border-radius: 50px;
}

.title{
    padding: 10px;
}

.content{
    margin-left: 25px;
}

.contentmodal{
    border-radius: 30px; 
    margin-bottom: 30px; 
    width: 930px;
}

.list{
    padding: 10px 0px 12px 0px;
    width: 1065px;
    background-color: white;
    position: fixed;
    z-index: -1;
}

.all{
    margin-right: 12px;
    padding: 9px 13px;
    background-color: rgb(242,242,242);
    border-radius: 10px;
}

.align{
    font-size: 14px;
    line-height: 1.4;
    padding: 10px 0px 0px 10px;
}

.size{
    font-size: 14px;
}

.sub{
    border-radius: 22px;
}

.right{
    border: 1px solid rgb(242, 242, 242);
    padding: 5px 10px;
    width: 95px;
    border-radius: 20px;
}

.rightalign{
    margin-left: 20px;
}

.adminheader{
    z-index: 1;
    padding: 5px 0px 0px 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 4px 1px rgb(231 231 231);
}

.side{
    margin: 15px 0px 5px 10px;
}

.signin{
    color: rgb(8, 112, 247);
    font-size: 14px;
    padding: 3px 0px 0px 5px;
}

.rightcreate{
    border: 1px solid rgb(242, 242, 242);
    padding: 0px 10px;
    width: 100px;
    display: flex;
    margin-right: 15px;
}

.adminheadmid{
    margin-left: 335px;
}

.adminsrth{
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    margin: 10px 0px;
}

.msg{
    font-size: 13px;
    margin: 10px 9px;
}

.ytbadmin{
    font-weight: bold;
    font-size: 14px;
    width: 500px;
    border: none;
    padding: 5px 0px;
    margin: 3px 0px 3px 15px;
}

.help{
    padding-right: 15px;
}

.ytbsrth{
    width:40px;
    padding: 3px 0px 0px 10px;
}

.adminmainbody{
    padding-top: 60px;
}

.adminsidebar{
    width: 255px;
    border-right: 1px solid rgb(231,231,231);
}

.spanletter{
    cursor: pointer;
}

.yours{
    font-size: 13px;
    padding: 15px 0px 10px 15px;
    font-weight: bold;
}

.createwidth{
    padding: 8px 0px;
}

.username{
    padding-left: 15px;
}

.textsize{
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0px 0px 20px;
    color: dimgray;
}

.setone{
    margin: 0px 0px 25px 75px;
    padding-top: 25px;
}

.listcontent{
    padding: 10px;
}

.selectcomment{
    border-style: none none none solid;
    border-color: rgb(204,1,1);
    border-width: 5px;
    background-color: rgb(242, 242, 242);
}

.comments{
    margin-left: 15px;
}

.subtitle{
    margin-left: 10px;
}

.textcont{
    color: rgb(204,1,1);
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0px 0px 20px;
}

.profiletext{
    font-size: 13px;
    padding-left: 18px;
}

.contcomments{
    margin-left: 10px;
}

.contentcomments{
    margin-left: 15px;
}

.headertext{
    font-size: 19px;
    margin-bottom: 20px;
}

.textcontent{
    padding: 20px 0px 0px 30px;
    width: 1055px;
    border-bottom: 1px solid rgb(231,231,231);
}

.font{
    font-size: 13px;
}

.color{
    color: dimgray;
}

.bold{
    font-weight: bold;
    padding-left: 20px;
}

.videos{
    font-size: 14px;
    font-weight: bold;
    color:rgb(1, 105, 194);
    padding: 10px 0px 13px 0px;
    border-bottom: 3px solid rgb(8, 112, 247);
    width: 47px;
}

.filterset{
    display: flex;
    padding: 15px 0px 10px 30px;
    border-bottom: 1px solid rgb(231,231,231);
}

input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

.filter{
    border: transparent;
    padding-top: 3px;
    font-size: 15px;
}

.setimg{
    width: 51px;
    padding-right: 25px;
}

table{
    border-collapse: collapse;
}

.video{
    width: 1090px;
}

tr.conttr{
    border-bottom: 1px solid rgb(231,231,231);
}

.tablepadding{
    padding: 15px 0px;
}

.tablevideopadding{
    padding: 8px 0px;
}

.visibility{
    padding-left: 20px;
}

.checkbox{
    column-width: 800px;
    border-right: 2px solid rgb(231,231,231);
}

.check{
    margin: 0px 20px 0px 30px;
}

.listtd{
    column-width: 130px;
    text-align: center;
}

.nocontent{
    margin: 45px 0px 18px 470px;
}

.notavailable{
    font-size: 15px;
    padding: 10px 0px 0px 35px;
    color: dimgray;
}

.upload{
    padding: 10px 0px 10px 33px;
}

.uploadfile{
    padding: 8px 13px;
    background-color:rgb(8, 112, 247);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: transparent;
}

.modalhead{
    position: relative;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(231,231,231);
}

.closemodal{
    position: absolute;
    right: 30px;
}

.uploadvideos{
    font-weight: bold;
    font-size: 19px;
    padding-left: 20px;
}

.uploadmodal{
    border-radius: 6px; 
    margin-bottom: 30px; 
}

.feedback{
    margin-right: 20px;
    padding-top: 4px;
}

.close{
    font-size: 20px;
}

.closetitle{
    text-decoration: none;
    background-color: white;
    border: none;
}

.uploadimage{
    width: 135px;
    margin: 100px 0px 30px 380px;
    background-color: rgb(242, 242, 242);
    border-radius: 75px;
}

.uploadimage img{
    padding: 36px 32px 35px 37px;
}

.dragordrop{
    text-align: center;
    margin-bottom: 10px;
}

.drag{
    font-size: 14px;
}

.private{
    font-size: 13px;
    color:rgb(144, 144, 144);
}

.selectfile{
    text-align: center;
}

.videofile{
    padding: 8px 15px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    background-color:rgb(8, 112, 247);
    font-size: 13px;
}

.uploadbottom{
    text-align: center;
    color: rgb(144, 144, 144);
    font-size: 12px;
    margin-top: 80px;
    padding-bottom: 30px;
    line-height: 2;
}

.blue{
    color: rgb(8, 112, 247);
}

.historycont{
    width: 1055px;
    margin-top: 25px;
}

.historylist{
    width: 665px;
}

.watchhistory{
    font-size: 16px;
    color: rgb(38, 38, 38);
}

.typehistory{
    border-bottom: 1px solid gainsboro;
    padding: 15px 20px;
}

.choose{
    border-bottom: 1px solid gainsboro;
    padding: 15px 20px;
    font-size: 14px;
}

.radiobtn{
    width: 18px;
    height: 18px;
    accent-color: rgb(6,95,212);
}

.watched{
    margin-left: 218px; 
}

.community{
    margin-left: 232px;
}

.clearall{
    padding: 15px 20px;
}

.clearhover{
    padding: 5px 15px;
}

.trash{
    margin-left: 10px;
    font-size: 14px;
    padding-top: 5px;
}

.clearallhistory{
    font-weight: bold;
    color: #aaa;
}

.textspan{
    font-size: 14px;
    padding: 5px 0px 0px 42px;
    color: #909090;
    font-weight: bold;
}

.historyhover{
    width: 175px;
    padding: 5px;
}

.historyhover:hover{
    background-color: gainsboro;
    border-radius: 30px;
}

.filtersearch{
    z-index: 1;
    position: relative;
    user-select: none;
}

.filterlist{
    padding: 5px 0px 8px 25px;
}

.filterlist:hover{
    background-color: rgb(242, 242, 242);
}

.filtersearch .filterpopup{
    display: none;
    width: 170px;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    top: 53px;
    border-radius: 5px;
    left: 85px;
}

.filtersearch .show{
    display: block;
}

.filterpopup{
    padding: 10px 0px;
}

.filterdot{
    padding: 10px 0px;
}

.libtext{
    padding: 3px 0px 0px 15px;
    font-size: 16px;
    font-weight: bold;
}

.libhistory{
    padding: 20px 0px;
    border-bottom: 1px solid gainsboro;
}

.history{
    padding-bottom: 10px;
}

.libcont{
    width:855px;
}

.libp{
    font-size: 14px;
}

.browse{
    color: rgb(6, 95, 212);
}

.libside{
    margin: 80px 0px 0px 20px;
}

.youtubehome{
    padding-top: 70px;
}

.videoset{
    margin-right: 20px;
}

.titletext{
    font-size: 13px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    padding: 10px 10px 10px 30px;
}

.videotitle{
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    border-width: thin;
}

.justify{
    justify-content: center;
    margin-bottom: 30px;
}

.videouploadtitle{
    padding: 20px 0px 0px 20px;
}

.titleupload{
    font-size: 15px;
}

.desupload{
    font-size: 13px;
    padding-top: 5px;
    color: rgb(108,108,108); 
}

.uploadvisible{
    text-align: center;
    font-size: 13px;
}

.userImg{
    width: 120px;
    border-radius: 60px;
}

.videodtls{
    margin-top: 10px;
}

.videoh3{
    padding: 10px 15px;
    font-size: 15px;
}

.videoimg{
    width: 42px;
    padding: 5px;
    border-radius: 30px;
}

.videotd{
    position: relative;
}

.threedot{
    position: absolute;
    right: 5px;
}

.dot{
    width: 30px;
    padding: 5px;
}

.dot:hover{
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}

.dtlsupload{
    font-size: 13px;
    color: rgb(108,108,108); 
    padding-left: 15px;
}

.filterdotselect{
    width: 125px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    padding: 8px 25px 8px 25px;
    border-color: rgb(242,242,242);
}

.contview{
    padding-top: 60px;
}

.viewvideo{
    width: 860px;
    margin: 15px 25px 20px 35px;
}

.videoviewh3{
    font-size: 20px;
    padding-top: 15px;
}

.videoviewdiv{
    margin: 12px;
}

.dtlsviewupload{
    font-size: 15px;
    font-weight: bold;
}

.viewsub{
    border: none;
    background-color: black;
    color: white;
}

.subscribe{
    margin: 15px 0px 10px 15px;
}

.viewsub{
    border: none;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 11px 19px;
    border-radius: 22px;
}

.dtlslistupload{
    font-size: 12px;
    color: gray;
    padding-top: 5px;
}

.viewsidebar{
    margin-top: 30px; 
}

.viewvideolist{   
    margin-top: 20px;
}

.uploadviewVideo{
    margin-bottom: 10px;
}

.upview{
    border-radius: 10px;
}

.videoviewdtls{
    position: relative;
}

.viewlist{
    margin-left: 10px;
}

.videoview{
    font-size: 14px;
}

.viewlikeimg{
    padding: 4px 15px;
    border-radius: 20px;
    background-color: rgb(242,242,242);
}

.viewlike{
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.viewshare{
    margin-left: 20px;
}

.viewwidth{
    width: 20px;
    padding: 4px;
}

.viewtext{
    padding: 6px 0px 0px 4px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(101,101,101);
}

.account{
    margin-right: 10px;
}

.accountimg{
    width: 35px;
    padding: 5px;
    border-radius: 25px;
}

.libletter{
    border-radius: 60px;
    width: 110px;
}

.comtinput{
    padding: 15px 0px 0px 15px;
}

.comttext{
    padding: 6px 0px;
    border-style: none none solid none;
    border-width: thin;
    width: 780px;
    font-size: 14px;
}

.commentsubmit {
    margin: 10px 0px 40px 0px;
    position: relative;
}

.comtcancel{
    position: absolute;
    right: 110px;
}

.comtcncl:hover{
    background-color: rgb(204, 204, 204);
}

.comtcncl{
    width: 73px;
    padding: 10px 15px;
    border: none;
    font-size: 13px;
    border-radius: 20px;
    font-weight: bold;
}

.comtcomment{
    margin-left: 10px;
    position: absolute;
    right: 3px;
}

.comtcomt{
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(108,108,108);
}

.videouph3{
    padding: 10px 15px 2px 15px;
    font-size: 15px;
    font-weight: bold;
}

.dtlsupupload{
    font-size: 13px;
    color: rgb(108,108,108); 
    padding-left: 15px;
}

.viewimg{
    padding-right: 15px;
    border-style: none solid none none;
    border-width: thin;
    border-color: rgb(108,108,108);
}

/* .displaytext{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.displaytext .display{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.displaytext .display::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.displaytext:hover .display{
    visibility: visible;
    opacity: 1;
} */